:root { 
--orange_200_12:#e3c677; 
--black_900_7f:#0000007f; 
--gray_50_00:#fafafa00; 
--orange_200_11:#eac970; 
--gray_600_76:#7c7b7b76; 
--gray_50_01:#f9f9f9; 
--orange_200_10:#e9ce77; 
--gray_900_10:#111827; 
--gray_900_99:#1b1a1a99; 
--gray_800_05:#3f3824; 
--gray_800_04:#453a25; 
--gray_800_03:#543e26; 
--light_green_200:#d4c38b; 
--gray_800_02:#574f35; 
--gray_800_01:#585136; 
--gray_600_a0:#7c7b7ba0; 
--yellow_A400:#ffe800; 
--orange_200_09:#e6c367; 
--blue_gray_900_02:#233447; 
--orange_200_08:#e5c66b; 
--blue_gray_900_01:#252b42; 
--orange_200_07:#ebcc73; 
--blue_gray_900:#263a43; 
--deep_purple_A200:#8247e5; 
--orange_200_06:#e3c571; 
--orange_200_05:#e2c270; 
--orange_200_04:#e5cc7c; 
--orange_200_03:#dfc57c; 
--orange_200_02:#e5cb7a; 
--orange_200_01:#e2cc85; 
--green_A200_4c:#4ee48a4c; 
--lime_300:#d8c173; 
--gray_400:#b1b1b1; 
--black_900_0a:#0000000a; 
--orange_A400:#ff9300; 
--lime_700:#caa13e; 
--gray_800:#414141; 
--blue_500:#2196f3; 
--black_900_0f:#0000000f; 
--amber_100:#f4ecb4; 
--orange_600:#ff8300; 
--orange_200:#ffbd69; 
--amber_100_01:#f2e8b0; 
--lime_300_01:#e0cd81; 
--lime_600_03:#cdae50; 
--orange_300_05:#dcba5a; 
--lime_600_04:#d2a83e; 
--lime_600_01:#cca847; 
--orange_300_04:#e6bd62; 
--orange_300_03:#d8b65b; 
--lime_600_02:#d3ae4d; 
--black_900_11:#00000011; 
--gray_600_5b:#7c7b7b5b; 
--lime_50:#f7f7e7; 
--blue_100:#c7d2fe; 
--lime_600_09:#cbaf59; 
--black_900_19:#00000019; 
--black_900_14:#00000014; 
--gray_700_02:#6e6342; 
--lime_600_07:#cbac5a; 
--lime_300_05:#dec270; 
--gray_700_03:#6f674d; 
--lime_300_04:#dfc677; 
--lime_600_08:#c4a859; 
--lime_600_05:#cba94c; 
--lime_300_03:#d6bc6f; 
--gray_700_01:#666666; 
--lime_300_02:#d2c281; 
--lime_600_06:#cca849; 
--red_700:#e31d1c; 
--blue_gray_50:#eef2f5; 
--lime_200_03:#e2d59d; 
--yellow_A700_01:#ffce00; 
--lime_200_01:#e6db9d; 
--gray_900_e2:#212121e2; 
--lime_200_02:#e6d89c; 
--gray_600_59:#7c7b7b59; 
--green_A200:#4ee48a; 
--green_600:#3ab83a; 
--gray_50:#f7fcff; 
--light_green_900:#3b7f05; 
--gray_600_4c:#7c7b7b4c; 
--lime_800_09:#ac924c; 
--lime_800_08:#b6903c; 
--lime_800_07:#b18e3e; 
--yellow_900:#e4761b; 
--deep_orange_800:#cd6116; 
--lime_800_06:#a17c34; 
--lime_800_05:#a67a2e; 
--lime_800_04:#ac8132; 
--lime_800_03:#b58634; 
--lime_800_02:#b6933f; 
--lime_800_01:#b59544; 
--orange_A100:#f1d789; 
--lime_200:#f3e19d; 
--lime_600:#ceb052; 
--gray_900:#242424; 
--blue_gray_800_01:#3e4462; 
--yellow_900_02:#e2761b; 
--yellow_900_01:#f6851b; 
--yellow_900_03:#e4751f; 
--indigo_700:#2e42a4; 
--lime_800_12:#988430; 
--lime_800_11:#927d49; 
--orange_A100_01:#ecd592; 
--lime_800_10:#9f8e57; 
--red_600:#e64040; 
--green_900:#0b8311; 
--black_900_3f:#0000003f; 
--teal_300:#50af95; 
--white_A700_ab:#ffffffab; 
--purple_900:#4f0166; 
--red_400_4c:#e44f554c; 
--white_A700_19:#ffffff19; 
--gray_600:#7c7b7b; 
--orange_A200:#ffad34; 
--blue_gray_900_26:#263a4326; 
--amber_700:#ffa409; 
--lime_900:#8c6228; 
--yellow_A700:#fed700; 
--gray_200:#ebebeb; 
--lime_100:#f5eec0; 
--lime_900_04:#763d16; 
--lime_900_05:#7a6a2a; 
--gray_600_1c:#7c7b7b1c; 
--gray_400_01:#c0c0c0; 
--yellow_A700_02:#ffd700; 
--lime_900_01:#92723a; 
--gray_400_02:#bdbdbd; 
--lime_900_02:#806031; 
--gray_400_03:#d7c1b3; 
--lime_900_03:#685026; 
--gray_400_04:#c0ad9e; 
--green_900_01:#146714; 
--white_A700:#fffefd; 
--black_900_9e:#0000009e; 
--gray_800_bf:#414141bf; 
--light_green_300:#c3b378; 
--orange_300_02:#d2b159; 
--orange_300_01:#d2b257; 
--black_900:#000000; 
--yellow_700:#f3ba2f; 
--blue_gray_800:#3d3f4c; 
--gray_900_02:#252525; 
--lime_700_08:#c29637; 
--gray_50_33:#fafafa33; 
--gray_700:#5e5d5d; 
--gray_900_03:#252211; 
--lime_700_09:#be9c44; 
--lime_400:#cfb66c; 
--gray_600_02:#82764f; 
--lime_700_06:#c49937; 
--gray_900_04:#39331f; 
--gray_600_01:#6b7280; 
--lime_700_07:#c99e3d; 
--gray_900_05:#292311; 
--blue_gray_400:#8e8e8e; 
--lime_100_01:#f4efc8; 
--lime_400_03:#dfc068; 
--lime_400_04:#d4b968; 
--lime_800:#a88f33; 
--lime_400_05:#d7bc6b; 
--amber_600:#f5b300; 
--gray_900_01:#212121; 
--blue_gray_900_03:#2b2b2b; 
--lime_700_01:#ba9f33; 
--gray_600_7a:#7c7b7b7a; 
--lime_400_01:#ccb360; 
--lime_400_02:#d2ba6b; 
--lime_700_04:#c39d3c; 
--gray_900_06:#2d2815; 
--gray_600_04:#727272; 
--orange_300:#d5b457; 
--lime_700_05:#c0993a; 
--gray_600_03:#84754b; 
--gray_900_07:#2d2816; 
--gray_300:#dcdfe4; 
--lime_700_02:#c2a44d; 
--gray_900_08:#161616; 
--lime_700_03:#c89d3a; 
--gray_900_09:#0e0f23; 
--orange_50:#f8f6de; 
--white_A700_01:#ffffff; 
--blue_200:#8ec2f2; 
}